/* Custom properties */

:root {
    --header-bg-color: #ADD8E6;
    --header-box-color: #DAA520;
    --jumbotron-bg-color: #00008B;
    --jumbotron-box-color: #EE82EE;
    --block-bg-color: #D3D3D3;
    --big-column-color: #1E90FF;
    --small-column-color: #FFC0CB;
    --bigbox-content-color: #228B22;

}

/* Reset properties */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Verdana;
    font-size: 18px;
}

header {
    height: 100px;
    background-color: var(--header-bg-color);
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 15%;
}   

.border {
    border: 2px dashed #000;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.block-box-bg {
    background-color: var(--block-bg-color);
    padding: 20px 247px;
}

/* Header assets */

.hdr-logo {
    justify-content: flex-start;
    align-items: center;
    flex-basis: 20%;
    min-height: 60px;
    background-color: var(--header-box-color);
}

#logo {
    padding-left: 10px;
}

.hdr-nav {
    flex-basis: 60%;
    min-height: 60px;
    background-color: var(--header-box-color);
}

li {
    list-style-type: none;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 0.7;
}

.hdr-login {
    justify-content: flex-end;
    align-items: center; 
    flex-basis: 20%;
    min-height: 60px;
    background-color: var(--header-box-color);
}

#login-btn {
    padding-right: 10px;
}

/* Main */

.jumbotron {
    width: 100%;
    background-color: var(--jumbotron-bg-color);
    min-height: 500px;
}

#jumbotron-content {
    flex-basis: 50%;
    height: 400px;
    background-color: var(--jumbotron-box-color);
}

.block-box {
    width: 100%;
    min-height: 600px;
}

#big-column {
    flex-basis: 60%;
    height: 500px;
    background-color: var(--big-column-color);
}

#small-column {
    flex-basis: 40%;
    height: 500px;
    background-color: var(--small-column-color);
}

.big-box {
    width: 100%;
    min-height: 1000px;
}

#bigbox-content {
    flex-basis: 100%;
    height: 800px;
    background-color: var(--bigbox-content-color);
}